* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
}

.footerButton {
  height: 50px;
  position: fixed;
  line-height: 50px;
  bottom: 0;
  border: 1px solid #F1F0F3;
  background-color: #ffffff;
}
